@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logged in Page</title>
</head>
<body>
    <div>
        <form id="EventForm">
            <label>Name</label>
            <input name="Name" type="text"/>
            <label>DateStart</label>
            <input name="DateStart" type="text" />
            <label>DateEnd</label>
            <input name="DateEnd" type="text" />
            <label>Country</label>
            <input name="Country" type="text" />
            <label>State</label>
            <input name="State" type="text" />
            <label>City</label>
            <input name="City" type="text" />
            <input name="EventFormSubmit" type="submit" />
        </form>
    </div>
</body>
</html>
