<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RD.Repositories.Properties.Settings.RDConnectionString"
            connectionString="Data Source=VIKI-Mobile\SQLExpress;Initial Catalog=RD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RD.Repositories.Properties.Settings.RDConnectionString1"
            connectionString="Data Source=VIKI-MOBILE\SQLEXPRESS;Initial Catalog=RD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RD.Repositories.Properties.Settings.RDConnectionString2"
            connectionString="Data Source=(local)\mainsql;Initial Catalog=RD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>